*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(153, 91, 9);
}


#main-wrapper{
    border: 2px solid black;
    max-width: 1500px;
    height: 50%;
    
}


#divs-wrapper{
    width: 65%;
    height: 75%;
    margin: 5% 20%;
    background-color: rgb(205, 219, 227);
    position:absolute;
    border-radius: 15px;
}


.player-box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.player-0-panel, .player-1-panel{
    margin-top: 20px;
    width: 300px;
    height: 325px;
    background-color: rgb(234, 234, 241);
    border-radius: 15px;
    box-sizing: border-box;
}


.player-name{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}


.player-score{
    font-size: 60px;
    text-align: center;
    margin-top: 12px;
    color: red;
}


.active{
    background-color: rgb(179, 232, 197);
    position: relative;
    opacity: 1.6;
    box-sizing: border-box;
}


.active .dot{
    height: 2px;
    padding: 5px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-top: 12px;
}


.player-current-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px auto;
    text-align: center;
    background-color: red;
    width: 90px;
    height: 60px;
    border-radius: 10px;
}


.player-current-label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}


.player-current-score{
    padding-top: 7px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}


button.btn-new{
    position: absolute;
    margin: -320px auto;
    padding: 5px;
    margin-left: 400px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}


button.btn-new:hover, button:hover{
    background-color: rgb(214, 12, 12);
    color: azure;
    cursor: pointer;
}

button.btn-new:focus, button:focus{
    outline: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 4px;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 10px;
}

button.btn-roll{
    margin-top: -3px;
}

.dice{
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    height: 60px;
    box-shadow: 0px 10px 60px black;
}

.winner{
    background-color: rgb(107, 237, 120);
}

.winner .player-name{
    font-weight: 300;
    color: rgb(185, 14, 14);
}


.final-score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    color: beige;
    font-size: 18px;
    font-family: "lato";
    text-align: center;
    padding: 10px;
    width: 160px;
    color: black;
    text-transform: uppercase;
}

.final-score:focus{
    outline: none;
}

#dice-1{
    top: 100px;
}

#dice-2{
    top: 200px;
}